/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  margin-top: 3rem;
  .logo {
    img {
      width: 300px;
      @include tablet {
        width: 500px;
      }
      @include desktop {
        width: 700px;
        @include center-block;
      }
    }
  }
}