/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Hyperlink */

a {
  color: $color__link;
  text-decoration: none;
  &:hover {
    color: darken($color__link, 8);
  }
}

.number-pagination {
  margin-top: 3rem;
  font-weight: 300;
  a,
  span {
    padding-right: .5rem;
    &:last-child {
      padding-right: 0;
    }
  }
}

.nav-links{
  display: none;
}